body {
    font-family: Helvetica, Arial, sans-serif;
    color: #665544;
    padding: 0 15% 0 15%;
    background-color: #f5f5f5; /* Added light gray background */
}

h1 {
    text-align: center;
    color: blue;
    font-family: 'DancingScriptRegular';
    font-size: 400%;
}


p {
   font-family: 'DancingScriptRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 200%;
}

i {
    color: darkgreen;
}

a {
    color: inherit; /* This will make links use the same color as their parent element */
}
